//变量定义
$foreColor: #404040;
$bgColor: #f6f6f6;
$baseGap: 20px;
$fontSize: 14px;
$titFontSize: 22px;
$lineHeight: 40px;

@mixin box-shadow {
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}
 

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f6f6;
  line-height: 1.42857;
  color: #404040;
  /* background-color: #fff; */
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
  font-size: $fontSize;
  box-sizing: border-box;
}
.overflow-hidden{
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6, ul, li, dd, dl, dt, ol{
  margin: 0;
}
.padding-left{
  padding-left: $baseGap;
}
.padding-right{
  padding-right:$baseGap;
}
.padding-top{
  padding-top: $baseGap;
}
.padding-bottom{
  padding-bottom: $baseGap;
}
.margin-top{
  margin-top: 6px;
}
h1.title{
  line-height: $lineHeight;
  padding-left: $baseGap;
  margin-top: 12px;
  font-size: $titFontSize;
  font-weight: 700;
  word-break: break-word;
  color: $foreColor;
}

a {
  color: #404040;
  text-decoration: none;
  font-size: 18px;
}
.el-message-box__wrapper {
  z-index: 10004 !important;
}
.el-dialog__wrapper {
  z-index: 10004 !important;
}
.v-modal {
  z-index: 10003 !important;
}
.el-textarea__inner,
textarea {
  font-family: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  word-break: break-word;
  font-size: 16px;
  line-height: 1.8;
}
.el-notification {
  z-index: 10003 !important;
}
.box-shadow {
  @include box-shadow
}
.el-message {
  z-index: 10000 !important;
}

.wrapper {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
  display: flex;
  .logo {
    position: absolute;
    width: 100px;
    display: block;
    width: 100px;
    line-height: 56px;
  }
  .main {
    flex: 1;
    margin-right: 20px;
  }
  .aside {
    width: 280px;
  }
}
.panel-box {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  @include box-shadow;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .panel-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
    .panel-box-headerText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 600;
      font-synthesis: style;
    }
  }
  .panel-box-section {
    padding: 16px 20px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.avatar-large {
    width: 60px;
    height: 60px;
  }
  &.avatar-small {
    width: 40px;
    height: 40px;
  }
  
  &.avatar-xs{
    width: 24px;
    height: 24px;
  }
  &.avatar-round {
    img {
      border-radius: 50%;
    }
  }
}

.button{
  color: #8590a6;
}
